$fontFamily: 'Roboto', sans-serif;
$fontSize: 16px;
$white: #fff;
$black: #000;
$textColor: #6b6b6b;
$primary: #2d6a4f;
$secondary: #95d5b2;
$inputColor: #b7e4c7;
$worksColor: #94d2bdce;
$textShadow: 0 0 4px $black;
$boxShadow: 0 0 10px $textColor;
$padding: 100px 0;
$lg: 991px;
$md: 767px;
$sm: 575px;